<!--==================== MAIN ====================-->
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home">
        <div class="home__container container">
            <div class="home__data">
                <div class="home__content">
                    <div class="home__stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-s-line"></i>
                    </div>
                    <h1 id="home-title" class="home__title">Baume Custom<br>Timepiece Small<br>Second</h1>
                    <h3 id="home-price" class="home__price">$620</h3>
                </div>
                <button class="CartBtn">
                    <span class="IconContainer">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"
                            fill="rgb(255, 255, 255)" class="cart">
                            <path
                                d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z">
                            </path>
                        </svg>
                    </span>
                    <p class="text">Add to Cart</p>
                </button>
            </div>
            <div class="home__images">
                <div class="home__swiper swiper">
                    <div class="swiper-wrapper">
                        <article class="home__article swiper-slide" data-title="Baume Custom Timepiece Small Second"
                            data-price="$620">
                            <img src="/img/watches-1.png" alt="image" class="home__img">
                        </article>
                        <article class="home__article swiper-slide" data-title="Baume Custom Luxury Classic Watch"
                            data-price="$780">
                            <img src="/img/watches-2.png" alt="image" class="home__img">
                        </article>
                        <article class="home__article swiper-slide" data-title="Baume Custom Modern Sport Watch"
                            data-price="$450">
                            <img src="/img/watches-3.png" alt="image" class="home__img">
                        </article>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="home__info">
                <img src="/img/watches-border.png" alt="image" class="home__info-img">
                <div class="home__info-content">
                    <p class="home__info-description">
                        Personalized watches are a job of quality and commitment. Each piece is the result of a work of
                        co-creation of innovation and responsible sensitivity for users.
                    </p>
                    <a href="/" class="home__button-link">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="videoContainer">
            <div class="textOverlay">
                <h1>Pa-So Swiss</h1>
                <h6>New series TS2 stainless steel with NAO Japan technology CHIP-3.7 Includes stand/packaging & tools
                </h6>
            </div>
            <iframe class="videoLoop"
                src="https://player.vimeo.com/video/544365789?autoplay=1&loop=1&muted=1&background=1" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>

        <div class="home-Sale-Picture">
            <img src="/img/homePicture.jpg" alt="image" class="Sale-Picture">
        </div>

        <!--==================== PRODUCTS ====================-->
        <section class="products-section">
            <div class="container">
                <div id="products" class="products-grid">
                    <% products.forEach(product => { %>
                        <div class="product-card">
                            <a href="/products/<%= product._id %>">View Product</a>
                            <img src="<%= product.imageURL %>" alt="<%= product.title %>">
                            <h3><%= product.title %></h3>
                            <p>Original Price: $<%= product.originalPrice %></p>
                            <p>Price: $<%= product.price %></p>
                            <p>Status: <%= product.status %></p>
                            <button class="quick-view" data-title="<%= product.title %>"
                                data-price="<%= product.price %>" data-image="<%= product.imageURL %>">Quick View</button>
                            <button class="add-to-cart" data-id="<%= product._id %>">Add to Cart</button>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>

        <!--==================== FEATURED PRODUCTS ====================-->
        <section class="products-section">
            <div class="container">
                <h1>Featured Products</h1>
                <div id="featured-products" class="products-grid">
                    <% featuredProducts.forEach(product => { %>
                        <div class="product-card">
                            <a href="/products/<%= product._id %>">View Product</a>

                            <img src="<%= product.imageURL %>" alt="<%= product.title %>">
                            <h3><%= product.title %></h3>
                            <p>Original Price: $<%= product.originalPrice %></p>
                            <p>Price: $<%= product.price %></p>
                            <p>Status: <%= product.status %></p>
                            <button class="quick-view" data-title="<%= product.title %>"
                                    data-price="<%= product.price %>" data-image="<%= product.imageURL %>">Quick View</button>
                            <button class="add-to-cart" data-id="<%= product._id %>">Add to Cart</button>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>

        <!-- Quick View Modal -->
        <div id="quickViewModal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <img id="modalImage" src="" alt="Product Image">
                <h1 id="modalTitle"></h1>
                <p id="modalPrice"></p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>
        <div class="pagination">
            <% for(let i = 1; i <= totalPages; i++) { %>
                <a href="/?page=<%= i %>" class="pagination-button">
                    <%= i %>
                </a>
                <% if (i !== totalPages) { %>
                    <span class="pagination-space">&nbsp;</span>
                <% } %>
            <% } %>
        </div>
    </section>
</main>
